body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.page-header {
    padding: 2rem 0;
    text-align: center;
    color: #fff;
}

.page-header-bg {
    background-color: #0A3655;
    padding: 2rem 0;
}

.page-header__inner {
    margin: 0;
}

.main {
    padding: 0 1rem;
}

.content-section {
    padding: 2rem 0;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-container,
.image-container {
    margin-bottom: 2rem;
}

.text-container h1,
.text-container h2 {
    color: #333;
}

.text-container p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: #666;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.features-section {
    background-color: #fff;
    padding: 4rem 1rem;
}

.features-header h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature {
    flex: 1 1 100%;
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    margin: 1rem 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.feature:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.feature-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.feature p {
    font-size: 1rem;
    color: #666;
    text-align: justify;
}

.gallery-three__single {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-three__img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.gallery-three__icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.gallery-three__icon a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery-three__single:hover .gallery-three__icon {
    opacity: 1;
}

/* Responsive Styles */
@media (min-width: 992px) {
    .gallery-three .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 991.98px) {
    .gallery-three .col-md-4 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

@media (max-width: 767.98px) {
    .gallery-three .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Responsive Styles */
@media (min-width: 769px) {

    .content-section {
        padding: 2rem 0;
        margin:100px;
    }
    .content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20rem; /* Adjust the padding as needed */
        margin: 100px /* Adjust the margin as needed */
    }

    .text-container,
    .image-container {
        margin-bottom: 0;
    }

    .feature {
        flex: 1 1 calc(33.333% - 2rem);
    }

 
}




