body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato';
    font-weight: bold;
    overflow-x: hidden;
}

@media (min-width: 992px) {
    .about-section .row {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; /* Ensure text alignment */
    }

    .about-section .about-text {
        max-width: 700px; /* Set a maximum width for the text content */
        margin: 0 auto;
    }

    .about-section .about-image {
        text-align: center;
        margin: 0 auto;
    }
    .align{
        
        text-align: center;
        margin-right:80px;
        margin-left:80px;

    }
}



.highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    margin: 50px 0;
    font-family: 'Lato', sans-serif;
}

.highlight-item {
    flex: 1;
    margin: 20px;
}

.highlight-number {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #2c3e50;
}

.highlight-text {
    font-size: 1.2rem;
    color: #34495e;
}

.divider {
    display: none;
}

@media (min-width: 768px) {
    .highlights {
        flex-wrap: nowrap; /* Prevent wrapping on larger screens */
    }
    
    .divider {
        display: inline-block;
        font-size: 3rem;
        color: #2c3e50;
        margin: 0 20px;
        line-height: 3rem; /* Align vertically with the numbers */
    }

    .highlight-item {
        flex: 0 0 calc(33.333% - 40px); /* Adjusts width for larger screens */
        margin: 0 20px; /* Adds spacing between items */
    }
}


/* Ensure the navbar-toggler icon is visible */
.navbar-toggler {
    border: none;
    outline: none;
    color: white; /* Change this color as needed */
}

/* Style for the mobile menu */
.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.0); /* Change background as needed */
}

/* Ensure the menu links are properly styled */
.nav-item .nav-link {
    color: white !important; /* Ensure text color is visible */
    padding: 10px 15px;
}

/* Adjustments for better visibility */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2855, 53, 47, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 80px;
    margin-left: 20px;
    padding: 2px;
}

.nav-link {
    color: #fff !important;
    margin: 0 10px;
    padding: 5px 10px;
    transition: transform 0.3s ease, color 0.1s ease;
    font-size: 24px;
}

.nav-link:hover {
    color: #101843 !important; /* Gold color on hover */
    transform-style: preserve-3d;
}

.main-header .main-menu__wrapper-inner {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust as needed */
    padding: 10px 20px; /* Add padding to ensure content is not too close to the edges */
}

.main-menu__list li a {
    position: relative;
    display: inline-block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
}

.main-menu__list li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.main-menu__list li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video::-webkit-media-controls {
    display: none !important;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    padding: 0 10px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.overlay.scrolled {
    transform: translate(-50%, -200%);
    opacity: 0;
}

.overlay h1 {
    font-size: 3rem;
    white-space: nowrap;
}

.scroll-indicator a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.scroll-indicator a:hover {
    transform: scale(1.2);
}

.content {
    position: relative;
    z-index: 2;
    padding-top: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.about-section {
    
    background: linear-gradient(135deg, #ffffff, #ffffff);
}

.about-text {
   
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: 400px;
    margin: 10px auto;
    display: block;
}

#services {
    padding: 100px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    position: relative;
    color: #333;
}

.section-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color:#004F54;
    margin: 20px auto 0;
}

.service-item {
    text-align: center;
    padding: 20px;
}

.service-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.service-item p {
    font-size: 0.8em;
    color: #666;
}

.pstyle {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

.featured-project-section {
    padding: 100px 0;
    background-color: white;
    text-align: center;
}

.featured-project-section h2 {
    color: #000000;
}

.featured-project-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.featured-project-section h3 {
    color: #000000;
    font-size: 2rem;
    margin-bottom: 10px;
}

.featured-project-section h4 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.featured-project-section p {
    color: #010101;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.featured-project-section .btn-primary {
    background-color: #333;
    border: none;
    color: #fafafa;
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.featured-project-section .btn-primary:hover {
    background-color: #555;
    color:#0A3655;
    text-decoration: none;
}

#contact {
    background-color: #ffffff;
    padding: 60px 0;
}

.contact-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #b3b1b1;
    padding: 15px;
    box-sizing: border-box;
}

#contact h2 {
    font-size: 2.5rem;
    color: #333;
}

#contact p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

#contact .form-group {
    margin-bottom: 20px;
    width: 100%;
}

#contact .form-control {
    border-radius: 30px;
    box-shadow: none;
    border-color: #ccc;
    padding: 20px;
    font-size: 1rem;
}

#contact .form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

#contact .btn-warning {
    background: linear-gradient(to right,#0A3655,#004F54);
    border: none;
    border-radius: 30px;
    box-shadow: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #333;
    width: 100%;
}

#contact .btn-warning:hover {
    background-color: #ffbf00;
    color: #fff;
}

#map {
    width: 100%;
    height: 100%;
}

.btn-creative {
    background: linear-gradient(to right,#0A3655,#004F54);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-creative:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right,#0A3655,#004F54);
    color: white;
}

.service-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.service-content {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #0b233c;
}

.service-item img {
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.service-item:hover img {
    transform: scale(1.05);
}

.service-item h3 {
    transition: color 0.3s ease;
}

.service-item:hover h3 {
    color:#0A3655;
}

@media (max-width: 768px) {
    .about-section {
        padding: 3rem 1rem;
    }

    .about-text {
        display: flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    .about-text p {
        margin: 0 auto;
    }

    .section-title {
        font-size: 2rem;
    }

    .pstyle {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 60px;
        margin-right:20px;
    }

    .nav-link {
        font-size: medium;
    }

    .overlay h1 {
        font-size: 2rem;
    }

    .scroll-indicator {
        font-size: 1.5rem;
    }

    .about-section, #services, .featured-project-section {
    
    }

    .section-title {
        font-size: 2rem;
    }

    .service-item h3 {
        font-size: 1.2rem;
    }

    .service-item p {
        font-size: 0.9rem;
    }

    .featured-project-section h3 {
        font-size: 1.5rem;
    }

    .featured-project-section h4 {
        font-size: 1.2rem;
    }

    .featured-project-section p {
        font-size: 1rem;
    }

    #map {
        height: 300px;
    }

    @media (max-width: 768px) {
        .hide-on-mobile {
            display: none;
        }
    }
    

    .content {
        
    }

    .about-section, #services, .featured-project-section, #contact {
        text-align:justify;
       
    }

    .about-text {
        text-align:justify;
    }
  
   
}



@media (min-width: 769px) {
    #map {
        height: 450px;
    }

    .about-section, #services, .featured-project-section, #contact {
        text-align: justify;
    }

    .about-text {
        text-align:justify;
    }
  
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');

.contact-form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px
}

.contact-form-section .form-group {
    margin-bottom: 1.5rem;
}

.contact-form-section .form-control {
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.contact-form-section .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background: linear-gradient(to right,#0A3655,#004F54);
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.contact-form-section .btn:hover {
    background: linear-gradient(to right,#0A3655,#004F54);
    transform: translateY(-3px);
}

#map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    
    animation-fill-mode: both;
}

