body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'helvetica-bold';
    overflow-x: hidden;
}

header {
    background: linear-gradient(135deg, #fff018, #4ECDC4);
    position: fixed;
    width: 100%;
    z-index: 1050;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 100px;
    margin-right: 30px;
}

.nav-link {
    color: #000000;
    margin: 0 10px;
    padding: 5px 10px;
    transition: transform 0.3s ease, color 0.1s ease;
    font-size: large;
    font-weight: 200;
    font-style:Underline;
}

.nav-link:hover {
    color:black !important;
    transform: scale(1.4);
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.overlay h1 {
    font-size: 4rem; /* Adjust the size as needed */
    white-space: nowrap; /* Prevent line breaks within the text */
}

.scroll-indicator {
    margin-top: 20px;
    font-size: 2rem; /* Adjust the size as needed */
    color: white;
}

.scroll-indicator a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.scroll-indicator a:hover {
    transform: scale(1.2);
}

.content {
    position: relative;
    z-index: 2;
    padding-top: 100vh;
}

.about-section {
    padding: 100px 0;
    background: linear-gradient(135deg, #ffffff, #ffffff);
}

.about-text {
    padding: 20px;
}

.about-image img {
    max-width: 80%;
    height: auto;
    margin-left: 20px;
}

#services {
    padding: 100px 0;
    background-color: #f9f9f9;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    position: relative;
    color: #333;
}

.section-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #FFD700;
    margin: 20px auto 0;
}

.service-item {
    text-align: center;
    padding: 20px;
}

.service-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #444;
}

.service-item p {
    font-size: 1rem;
    color: #666;
}

.pstyle {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

.featured-project-section {
    padding: 100px 0;
    background-color: #000000;
}

.featured-project-section h2 {
    color: #f9f6f6;
}

.featured-project-section img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    margin: 0 auto; /* Center align the image */
    display: block;
}

.featured-project-section h3 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 10px;
}

.featured-project-section h4 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.featured-project-section p {
    color: #fffafa;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.featured-project-section .btn-primary {
    background-color: #333;
    border: none;
    color: #fafafa;
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.featured-project-section .btn-primary:hover {
    background-color: #555;
    color: #ffd700;
    text-decoration: none;
}





