body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica-Bold', sans-serif;
    overflow-x: hidden;
}

header {
    background: linear-gradient(135deg, #556270, #4ECDC4);
    position: fixed;
    width: 100%;
    z-index: 1050; /* Ensure header is above all other content */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 80px;
    margin-right: 20px;
}

.brand-text {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: bold;
}

.brand-text2 {
    color: #ffffff;
    font-size: 2rem;
}

.nav-link {
    color: #fff;
    margin: 0 10px;
    padding: 5px 10px;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link:hover {
    color: #000 !important;
    transform: scale(1.1);
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    padding: 2px 10px;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full viewport height */
    z-index: -1; /* Behind the content */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure cover behavior */
    transform: translate(-50%, -50%);
}

/* Adding margin-top to push the section below the fold */
#services {
    margin-top: 100vh; /* Height of the viewport, adjust if the video is shorter */
}


.content {
    position: relative;
    z-index: 2; /* Ensures content is above the video */
    padding-top: 100vh; /* Adjust based on your header height */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2; /* Ensure it's above the video */
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.overlay .scroll-indicator {
    font-size: 2rem;
}

#services {
    padding: 100px 0;
    background-color: #f4f4f4;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.service-item {
    text-align: center;
}

.service-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
